*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #030e1f;
    /* background-image: url('bg.jpeg');
    background-size: cover; */
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    background-color: #f3f3f3;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 110;
}

.startmenu{
    position: absolute;
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease-in;
}
.startmenu img{
    border-radius: 8px;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

.icons {
    
    color: white;
    margin-top: 20px;
    position: absolute;
    left: 10px;
}
.icons-css {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.icons-css div {
    padding-top: 10px;
    font-size: 17px;
}